div.fightScreen.arapey
	div
		button#fight.btn.btn-default.fight--button Fight!
	div.row.choose--div
		div.col-xs-6
			h2 Grandpa
			img(src=gImage)
		div.col-xs-6
			h2= fName
			img(src=fImage)
	div.results
		div.row.backStory
			div.col-xs-6.fight--grandpa
				p.story= gStory
			div.col-xs-6.fight--family
				p.story= fStory