div.row.fight--container.arapey
	div.col-xs-6.fight--grandpa
		//- img(src=gImage)
		p.weap= 'Grandpa attacks with ' + results.gweap + '!'
		p.remark= '"'+ results.gremark + '."'
		p.damage= 'Remaining health: ' + results.ghealth
	div.col-xs-6.fight--family
		//- img(src=fImage)
		p.weap= familyMember + ' attacks with ' + results.famweap + '!'
		p.remark= '"'+ results.famremark + '."'
		p.damage= 'Remaining health: ' + results.fhealth